<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MovieReview</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movie<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/movies/580eb88bb2613c94043d20d4">Deepwater Horizon</a></li>
           <li><a href="/movies/580ece467b0425e4a2f623e7">Jack Reacher: Never Go Back</a></li>
           <li><a href="/movies/580ed0227b0425e4a2f623e8">Inferno</a></li>
           <li><a href="/movies/580ed0797b0425e4a2f623e9">The Girl On The Train</a></li>
           <li><a href="/movies/580ed0cb7b0425e4a2f623ea">Star Trek Beyond</a></li>
           <li><a href="/movies/580ed14b7b0425e4a2f623eb">Finding Dory</a></li>
       </ul>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/movies"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
