<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MovieReview</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movie<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/movies/58106b8ddcba0f01c12ca3f0">Deepwater Horizon</a></li>
           <li><a href="/movies/58106bf7dcba0f01c12ca427">Jack Reacher: Never Go Back</a></li>
           <li><a href="/movies/58106c5cdcba0f01c12ca44a">Inferno</a></li>
           <li><a href="/movies/58106c96dcba0f01c12ca457">The Girl On The Train</a></li>
           <li><a href="/movies/58106ce5dcba0f01c12ca47a">Star Trek Beyond</a></li>
           <li><a href="/movies/58106d15dcba0f01c12ca4a6">Finding Dory</a></li>
       </ul>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/movies"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
