.movieImage {
  max-width: 300px;
  height: 400px;

}

#hero-image {
	height: 550px;
	width: 100%;
	background-color: #444;
	background-image: url('../images/back to the future background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
  margin-bottom: 100px;
}

/*#hero-image::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.15);
	content: "";
}*/

#hero-image #hero-title {
	position: absolute;
	background-color: #fff;
	padding: 25px 60px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
  transform: translateX(-50%);

  bottom: 0;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.20em;
  letter-spacing: 0.4px;
}

.form-group, .commentBox{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}
.image-container {
    position: relative;
    max-width: auto;
    height: auto;
    margin-bottom: 30px;
}
.image-container .after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 20%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.after p{
  text-align: center;
  font-size: 25px;
}

.movie_description{
  text-align: justify;
}

.picsNwords{
  margin-top: 50px;
}

#hero-image-single {
	height: 550px;
	width: 100%;
	background-color: #444;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#hero-image-single::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.15);
	content: "";
}

#hero-image-single #hero-title {
	position: absolute;
	background-color: #fff;
	padding: 25px 60px;
	left: 50%;
	width: auto;

	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
  transform: translateX(-50%);

  bottom: 0;

  margin: 0px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.20em;
  letter-spacing: 0.4px;
}

.navbar {
  margin-bottom: 0;
}

.borderexample
{
border-style:solid;
border-color:#87CEFA;
background-color: grey;
}

.movie-header {
	text-transform: uppercase;
  font-weight: 400;
  font-size: 0.95em;
  letter-spacing: 0.4px;
  padding: 6px 25px;
  border: 2px solid #333;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
}

.trailerVid{
  margin-top: 40px;
}

.posted{
  font-size: 12px;
  margin-bottom: -5px;
}

.commentLine{
  margin-top: 2px;
  margin-bottom: 10px;
}

.centreBox{
  width: 1000px;
  height: 240px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 120px;
}

.loginHead{
  font-size: 34;
  margin-left: 50px;
  padding-top: 15px;
}

.newCentreBox{
  width: 1000px;
  height: 280px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 120px;
}
