.movieImage {
  max-width: 300px;
  height: 400px;

}
.form-group, .commentBox{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}
.image-container {
    position: relative;
    max-width: auto;
    height: auto;
    margin-bottom: 30px;
}
.image-container .after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 20%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.after p{
  text-align: center;
  font-size: 25px;
}
