
<div class="newCentreBox">
  <h3 class="loginHead">Sign Up Here</h3>
  <form class="new-user-passport form-horizontal" action="/signup" method="post" data-parsley-validate>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInputEmail3">Name</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="user[local][name]"
            id="user-name" placeholder="Your user name" class="u-full-width" required>
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInputEmail3">Email</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="user[local][email]" id="user-email" placeholder="Your user email" class="u-full-width" required>
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInputEmail3">Password</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" name="user[local][password]" id="user-password" placeholder="Your user password" class="u-full-width" data-parsley-minlength="6" data-parsley-minlength-message="Please enter at least 6 charactors" required>
          </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="submit" value='Save My User'>Sign Up</button>
        </div>
      </div>
  </form>
</div>
