<h2>Create new user</h2>

<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<form class="form-inline" class="new-user-passport" action="/signup" method="post">
  <div class="form-inline">

      <label class="sr-only" for="exampleInputEmail3">Name</label>
      <input class="form-control" type="text" name="user[local][name]"
      id="user-name" placeholder="Your user name" class="u-full-width" required>

      <label class="sr-only" for="exampleInputEmail3">Email</label>
      <input class="form-control" type="text" name="user[local][email]" id="user-email" placeholder="Your user email" class="u-full-width" required>

      <label class="sr-only" for="exampleInputEmail3">Password</label>
      <input class="form-control" type="password" name="user[local][password]" id="user-password" placeholder="Your user password" class="u-full-width" required>

    <button class="btn btn-default" type="submit" value='Save My User'>Sign Up</button>
  </div>

</form>
