<h1>Login here</h1>

<form class="login-user" action="/login" method="post">
  <div class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Email</label>
      <input class="form-control" type="text" name="user[local][email]" placeholder="Your email" class="u-full-width">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Password</label>
      <input class="form-control" type="text" name="user[local][password]" placeholder="Your password" class="u-full-width">
    </div>
    <button class="btn btn-default" type="submit" value='Log in'>Log In</button>
  </div>
</form>

<% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
